<!-- Home Component HTML -->  
<app-header></app-header>
<div class="search-hero">

  <input class="form-control" type="text" name="search" id="" class="form-control" placeholder="&#61442;Search products" [(ngModel)]="term" autocomplete="off">
</div> 

  <div class="item-grid">  
    <!-- Sample Item Card -->  
    <mat-card class="item-card" *ngFor="let item of sellitems | filter:term ">  
      <mat-card-header>  
        <mat-card-title>{{ item.itemName }}</mat-card-title>  
        <mat-card-subtitle>{{ item.amount }}</mat-card-subtitle>  
      </mat-card-header>  
      <img mat-card-image src={{item.itemUrl}} alt="Photo loaded failed">
      <mat-card-content>  
        <p>{{ item.itemDescription }}</p>  
      </mat-card-content>  
      <mat-card-actions>  
        <button mat-button color="primary" (click)="openBuyDialog(item)">BUY</button>  
      </mat-card-actions>  
    </mat-card>  
  </div>  